.home-wrapper {
  background-color: $bgwhite;
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
  .header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 50;
    font-family: "Mukta", sans-serif;
    background-color: $white;
    height: 80px;
    color: $green;
    padding: 17px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.1);
    line-height: 20px;
    .user {
      .name {
        font-size: 16px;
        font-weight: 600;
      }
      .proffesion {
        font-size: 12px;
      }
    }
    .is-you {
      text-align: right;
      font-size: 13px;
      span {
        color: $green;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .content-wrapper {
    margin-top: 33px;
    width: 100%;
    padding: 0 23px;
  }
}

.time-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  .time {
    h1 {
      font-family: "Space Mono", monospace;
      font-size: 25px;
    }
  }
  .separator {
    width: 2px;
    margin: 0 10px;
    height: 50px;
    background-color: $green;
  }
  .date {
    font-family: "Mukta", sans-serif;
    .day {
      font-size: 20px;
      font-weight: 600;
    }
    .gregorian {
      font-size: 14px;
    }
    .hijh {
      font-size: 14px;
    }
  }
}

.prayer-widget {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .item {
    text-align: center;
    width: 120px;
    h3 {
      font-family: "Mukta", sans-serif;
      font-size: 13px;
    }
    p {
      font-family: "Space Mono", monospace;
      font-size: 13px;
    }
  }
}

.card {
  &:hover {
    .btn-reference {
      border: 1px solid $white;
      span {
        color: $white;
      }
    }
  }
}

.reference-widget {
  margin-top: 10px;
  font-family: "Mukta", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn-reference {
    margin-bottom: 10px;
    border: 1px solid $green;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    &:hover {
      box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
    }
    span {
      display: block;
      text-decoration: none;
      color: $green;
      line-height: 40px;
      transition: 0.1s;
      cursor: pointer;
      &:hover {
        // color: $bgwhite;
        font-weight: 500;
      }
    }
  }
}
