.detail-quran-wrapper {
  position: relative;
  min-height: 100vh;
  .header-detail {
    color: $white;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    width: 375px;
    background-color: $green;
    justify-content: space-between;
    align-items: center;
    padding: 20px 22px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07);
    a {
      text-decoration: none;
      color: $white;
      &:hover {
        color: #f8f8f8;
      }
    }
    .icon {
      font-size: 30px;
    }
    .surah {
      font-family: "Mukta", sans-serif;
      text-align: center;
      .title {
        font-size: 17px;
        margin-bottom: 5px;
      }
      .translation {
        font-size: 14px;
      }
    }
  }

  .item-wrapper {
    margin-top: 25px;
    padding: 0 25px;
    .item {
      border-radius: 10px;
      margin-bottom: 15px;
      overflow: hidden;
      position: relative;
      padding: 25px;
      background-color: $white;
      color: $dark;
      font-family: "Mukta", sans-serif;
      box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.07);
      .verse {
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $green;
        padding: 5px 10px;
        color: $white;
        border-bottom-right-radius: 10px;
      }
      .arabic {
        font-family: arabicfont;
        text-align: right;
        color: $darker;
        font-size: 16px;
        line-height: 28px;
      }
      .latin {
        margin: 10px 0;
        font-size: 13px;
      }
      .translation {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .detail-quran-wrapper {
    .header-detail {
      width: 100%;
    }
  }
}
